.sudoku-puzzle {
    width: 100%;

    .sudoku-row {
        display: grid;
        grid-template-columns: repeat(9, 1fr);

        &:nth-child(3n):not(:last-child) {
            border-bottom: #000 solid 2px;
        }

        .cell {
            border: 1px solid #000;
            text-align: center;
            position: relative;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(3n):not(:last-child) {
                border-right: #000 solid 2px;
            }

            &:not(.locked) {
                cursor: pointer;
            }

            .cell-value {
                &.no-value {
                    visibility: hidden;
                }
            }

            .candidates {
                position: absolute;
                right: 0;
                top: 0;
                font-size: xx-small;
            }
        }
    }
}