.obscurio {
    position: relative;

    &>* {
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    &::before {
        content: "Get a Clue";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        overflow: visible;
        pointer-events: none;
        font-size: 2rem;
        font-family: MuseoModerno;
    }
}